body{
box-sizing: border-box;
padding: 0;
margin: 0;
}

#frame {
width: auto;
height: 2080px;
background-color: white;
padding: 10px;
}
#header {
height: 5%;
background-color: #0B6138;
margin-left: -7px;
margin-right: 7px;
}
#div1 {
height: 30%;
width: 100%;
margin-left: -7px;
margin-right: -10px;
background-image: url("gori2.jpg");
background-repeat: no-repeat; 
background-size: cover;

}
#footer {
height: 5%;
background-color: orange;
margin-left: 250px;
margin-right: 250px;
}
#div11{

float: left;
height: 100%;
width: 50%;

}
#div12{

float: right;
height: 100%;
width: 50%;

}
#footer1{
background-color:#088A68;
height: 10%;
width: 100%;
margin-left: -7px;
margin-right: 7px;
}

#MainMenu > li {
    float: left;
    list-style-type: none;
    background-color: #088A68;
}
#MainMenu li ul {
    display: none;
    background-color:black;
    margin:auto;
    padding: initial;
    border: solid;
}

#MainMenu li li {
    list-style-type: none;
    color:black;
}

    #MainMenu li:hover ul {
    display: block;
}
#MainMenu a {
    text-decoration:none;
    color: white;
    font-size: 30px;
}


#header p {
color: white;
}
 #logo
 {
    width:50px;
    height: 50px;
 }

